# deployed to Cloudflare
PUBLIC_ORIGIN=
PUBLIC_CONVEX_URL=
PUBLIC_CONVEX_SITE_URL=
PUBLIC_CLERK_PUBLISHABLE_KEY=
PUBLIC_STRIPE_PUBLISHABLE_KEY=
MAINTENANCE_MODE=
ADMIN_CLERK_ID=
CONVEX_DEPLOYMENT=
CLOUDFLARE_ACCOUNT_ID=

# deployed to Convex
PUBLIC_CLERK_FRONTEND_API_URL=
CLERK_WEBHOOK_SIGNING_SECRET=

# deployed to both
CLERK_SECRET_KEY=

# for local development only
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=