node_modules/

# Output
.wrangler
.svelte-kit
.firebase
build/
dist/

# OS
.DS_Store
Thumbs.db

# dev vars
.dev.vars
.dev.vars.*
!.dev.vars.example
!.dev.vars.test

# Env
.env
.env.*
!.env.example
!.env.test

# Firebase
# IMPORTANT: Ensure your service account key JSON file is listed here if it's within the project
# e.g., backend/your-service-account-key.json
*key.json

#wrangler
**/wrangler.toml
**/wrangler.jsonc

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# logs
*.log

# Sentry
.env.sentry-build-plugin